.navbar
  %a{:href=>"/"}首页
.page-note-show
  .action
    %a.delete{:href => "javascript:;",:"data-noteid" => @note.id}删除
    %a.edit{:href => "/notes/#{@note.id}/edit"}编辑
    %a.history{:href => "/notes/#{@note.id}/history"}历史版本
  .note
    .title= @note.title
    %pre.content= @note.content