.navbar
  %a{:href=>"/"}首页
.page-note-version
  .action
    %a.history{:href => "/notes/#{@note.id}/history"}历史版本
  .note
    .title= @version.title
    .content.markdown-body= preserve {@version.markdown_content}